<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mathway Test Suite">

    <test preserve-order="true" name="Mathway Automated Tests">
        <classes>
            <class name="LoginPageTest"/>
            <class name="SignupPageTest"/>
            <class name="SettingsPageTest"/>
            <class name="CalculatorPageTest"/>
        </classes>
    </test>
</suite>